.images {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 50px; */
    /* padding: 30px; */
}

.photo {
    max-width: 31.333%;
    padding: 0 10px; 
     height: 240px;
}

.photo img {
    width: 250px;
    height: 140px;
}

.productsRow {
    margin-top: 3rem!important;
    margin-bottom: 0px;
    
    display: inline-flex;
    color: #142b6f;
    
    white-space: nowrap;
    padding: 10px 170px 5px 170px;
    cursor: grabbing;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
   }

.productsText {
    margin-left: 4.8rem;
    text-decoration:aqua;
}